/*
declaration block::after

selector{
    property: value;
    property2: value;
}
*/

body{
    background-color: black;
    color: red;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#shorseImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align: center;
    margin-left: 200px;
    